 @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
   background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
 justify-content: center;
  align-items: center;
    display: flex;

}

.flexbox {
 
}
.data {
 margin: auto;
  width: 50%;
  padding: 10px;
    
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #C7C7C7;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #C7C7C7;
}

.search > div > input::-ms-input-placeholder {
  color: #C7C7C7;
}

.search > div > input:focus,
.search > div > input:valid {
  width: 250px;
}


a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
}
}
img{
     width: 100%;
     max-width:300px;
  height: auto;
}
.me{
  position: fixed;
  width: 50%;
  bottom: 3px;
} 
